<%@ page file="index.html" %>
<%
header("Namespaces");

var tags = jsd.ns.containers;
for (var i = 0, tag; tag = tags[i]; i++) {
%>
    <h3><%= jsd.linkTo(tag.value) %></h3>
    <p><%= jsd.replaceLinks(Utl.firstSentence(tag.text, 100), tag, __pageUrl) %></p>
<%
}

footer();
%>
