<%
for (var i = 0, tags, lists = jsd.allNamespaces.containers(); tags = lists[i]; i++) {
    var ns = tags[0].value || JSD.globalsNamespace;
    var file = ns.replace(/\./, "/") + ".html";
    var title = tags[0].name + " " + ns;
%>
<%@ page fileVar="file" %>
<%
header(title);
%>
<% for (var j = 0, tag; tag = tags[j]; j++) { %>
    <p><%= tag.text %></p>
<% } %>

<%
footer();
}
%>
